// Base styles
//_base.scss
$theme-color: #242582;
$header-height: 110px;
$header-extended-height: 50vh;

@media only screen and (max-width: 640px) {
    $header-extended-height: 10vh;

    .main-header {
        &.on-main-page {
            height: $header-extended-height !important;
        }
    }
    .menu-wrapper {
        font-size: 16px;

        >.scroller-link:first-child {
            margin-bottom: 20px;
        }

        &#left {
            margin-right: 12px;
        }
        &#right {
            margin-left: 12px;
        }
    }

    #welcome {
        color: #ffffff;
        //background-color: $theme-color;
        height: 100vh;

        #adjusted-main {
            margin-top: $header-extended-height;
            padding-top: 0;
        }
    }
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    height: $header-height;
    padding: 10px;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    z-index: 9999;
    transition: all .3s ease;

    &.on-main-page {
        height: $header-extended-height !important;
        background-color: transparent;
        .brand-wrapper {
            margin: 30px 0;
            width: auto !important;
            flex-grow: 2;
        }
        .menu-wrapper {
            flex-grow: 1;
            width: 30%;
            >.scroller-link {
                margin-bottom: 10px;
            }
        }
    }

    .brand-wrapper {
        width: 170px;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;

        @include md {
            height: unset;
        }

        >svg {
            height: 100%;
        }
    }

    .menu-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 2;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;

        @include md {
            font-size: 14px;
        }

        >.scroller-link {
            cursor: pointer;
            display: inline;
            position: relative;
            text-align: center;
            flex-basis: 6em;

            &:after {
                content: "";
                position: absolute;
                z-index: -1;
                right: 0;
                width: 0;
                bottom: -5px;
                background: #ffffff;
                height: 4px;
                transition-property: width;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
            }
            &:hover,
            &:focus,
            &:active {
                &:after {
                    left: 0;
                    right: auto;
                    width: 100%;
                }
            }
        }
    }
}
#mainView {
    display: flex;
    flex-direction: column;

    >.page-section {
        height: auto;
        min-height: 400px;
        padding: 20px 30px;
        box-sizing: border-box;
        position: relative;

        .section-title {
            display: block;
            text-align: center;
            margin-bottom: 15px;
            border-bottom: 2px solid white;
            font-size: 34px;

            @include md {
                font-size: 24px;
            }
        }

        .link-container {
            display: flex;
            width: 100%;
            justify-content: center;
            position: absolute;
            left: 0;
            bottom: 40px;
            a {
                margin: 0 20px;
                text-decoration: none;
                >span {
                    color: #ffffff;
                    font-size: 36px;

                    @include md {
                        font-size: 24px;
                    }
                }
            }
        }

        .buffer {
            height: $header-height;
        }

        .top-anchor {
            position: absolute;
            top: 0;
            left: 0;
        }
    
        &#welcome {
            color: #ffffff;
            //background-color: $theme-color;
            height: 100vh;

            #adjusted-main {
                margin-top: $header-extended-height;
                padding-top: 20px;
                display: flex;
                flex-direction: column;
                align-content: center;
                span {
                    display: block;
                    &#firstLine {
                        font-size: 34px;
                        @include sm {
                            font-size: 24px;
                        }
                        text-align: center;
                    }
                    &#secondLine {
                        font-size: 24px;
                        @include sm {
                            font-size: 16px;
                        }
                        text-align: center;
                        margin-right: 10px;
                    }
                    &#thirdLine {
                        font-size: 24px;
                        @include sm {
                            font-size: 16px;
                        }
                        text-align: center;
                    }
                }
                >#secondLineContainer {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 20px 0;
                    justify-content: center;
                }
            }
        }
    
        &#about {
            color: #ffffff;
            //background-color: #DA0007;
            min-height: 100vh;

            >#about-content {
                display: flex;
                padding-top: $header-height;
                box-sizing: border-box;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-height: 100vh;
                padding-bottom: 10vh;

                #content-text {
                    display: inline-block;
                    padding: 20px 40px;;
                    background-color: rgba(0,0,0,0.3);
                    border-radius: 20px;
                    width: 70%;
                    p {
                        font-size: 16px;
                        line-height: 1.5;
                        @include sm {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .list-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px 10px;
            width: 100%;

            .experience-list-items {
                .item-title {
                    font-weight: bold;
                    font-size: 24px;
                    margin-bottom: 3px;

                    @include md {
                        font-size: 20px;
                    }
                }
                .item-date {
                    font-size: 1em;
                    text-transform: capitalize;
                    font-style: italic;
                    margin-bottom: 10px;
                }
                width: 70%;
                font-size: 16px;
                line-height: 1.5;
                padding: 20px 40px;
                background-color: rgba(0,0,0,0.3);
                border-radius: 20px;
                margin-bottom: 30px;

                @include md {
                    font-size: 14px;
                }

                a {
                    color: #ffffff;
                    &.visited {
                        color: #D2D2D2;
                    }
                }
            }
        }

        &#experience {
            color: #ffffff;
            min-height: 100vh;
            padding-bottom: 20vh;

            .download-corner {
                &.hidden {
                    opacity: 0 !important;
                }
                display: flex;
                position: fixed;
                align-items: center;
                bottom: 10px;
                right: 10px;
                opacity: 1;
                transition: opacity .3s ease;
                #download-text {
                    margin-right: 20px;
                    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
                    @include sm {
                        display: none;
                    }
                }
                #download-icon {
                    height: 80px;
                    width: 80px;
                    background-color: #7C0000;
                    border-radius: 50%;
                    display: block;
                    transition: all .5s ease;
                    color: #ffffff;
                    font-size: 42px;
                    &:hover,
                    &:focus,
                    &:active {
                        background-color: #B90000;
                    }

                    @include md {
                        height: 50px;
                        width: 50px;
                        font-size: 24px;
                    }

                    >.icon-wrapper {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        &#project {
            color: #ffffff;
            min-height: 100vh;
            padding-bottom: 20vh;
        }

        &#contact {
            color: #ffffff;
            height: 100vh;

            >#contact-wrapper {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                height: 100%;
                h1 {
                    font-size: 2em;
                }
                .link-container {
                    font-size: 3em;
                    position: static;
                }
            }
        }
    }
}