// Base styles
//_base.scss

.main-header {
    background-color: aquamarine;
    height: 200px;
}
.jumbotron {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 10px 30px;
    background-color: beige;
}