@import './modules/base';

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: antiquewhite;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 0;
    
    > * {
        grid-column: col-start / span 12;
    }

    @media (min-width: 500px) {
        .side {
          grid-column: col-start / span 3;
          grid-row: 3;
        }
        .content, .main-footer {
          grid-column: col-start 4 / span 9;
        }
        nav ul {
          display: flex;
          justify-content: center;
        }
    }

    @media (min-width: 700px) {
        .main-nav {
          grid-column: col-start / span 2;
          grid-row: 2 / 4;
        }
        .content {
          grid-column: col-start 3 / span 8;
          grid-row: 2 / 4;
        }
        .side {
          grid-column: col-start 11 / span 2;
          grid-row: 2;
        }
        .main-footer {
          grid-column: col-start / span 12;
        }
        nav ul {
          flex-direction: column;
        }
    }
}